<div class="container">
  <div class="tasker">
    <!-- lists -->
    <section class="lists">
      <h1 class="title">lists</h1>
      <div class="list-elements">
        <ul>
          <li class="list-element" *ngFor="let list of lists" [routerLink]="['/lists', list.id]">
            {{ list.title }}
            <span (click)="deleteList(list)">&times;</span>
          </li>
        </ul>
      </div>
      <button class="newList-button" routerLink="/new-list">add a list +</button>
    </section>
    <!-- tasks -->
    <section class="tasks">
      <h1 class="title">tasks</h1>
      <div class="task-elements">
        <ul>
          <li class="task-element">task #1</li>
          <li class="task-element">task #2</li>
          <li class="task-element">task #3</li>
        </ul>
      </div>
      <button class="newTask-button">+</button>
    </section>
  </div>
</div>
