.tasker {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 700px;
  max-height: 400px;
  background-color: rgba(240, 240, 240, .8);
  border-radius: 5px;
}

.title {
  margin-bottom: 10px;
  padding: 5px 10px;
  font-size: 32px;
  background: linear-gradient(to right top, #ccc , #6495ED);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.lists {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  border-right: 1px solid #ccc;
  overflow: scroll;
}

.list-elements {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.lists .list-element, .task-element {
  position: relative;
  margin-bottom: 5px;
  padding: 7px 15px;
  background-color: #eee;
  border-radius: 5px;
  transition: box-shadow .2s ease, transform .2s ease;

  &:hover {
    box-shadow: 0 0 5px rgb(119, 194, 194);
    transform: scale(1.01);
    cursor: pointer;
  }
}

.list-element span {
  position: absolute;
  right: 5px;
  top: 4px;
  color: #ccc;
  font-size: 20px;
  &:hover {
    color: red;
  }
}

.newList-button {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  transition: box-shadow .2s ease, transform .2s ease;
  &:hover {
    box-shadow: 0 0 5px rgb(119, 194, 194);
    transform: scale(1.01);
  }
}

.tasks {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.newTask-button {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  font-size: 20px;
  position: absolute;
  right: 20px;
  bottom: 18px;
  transition: color .2s ease-in;
  &:hover {
    color: #ddd;
  }
}
