<div class="cont">
  <form class="form sign-in" [formGroup]="formIn" (ngSubmit)="submitIn()">
    <h2>Sign In</h2>
    <label>
      <span>Email Address</span>
      <input 
        type="email" 
        name="email"
        formControlName="email"
      >
      <div class="validator" *ngIf="formIn.get('email').invalid && formIn.get('email').touched">
        <small *ngIf="formIn.get('email').errors.email">
          Введите корректный email
        </small>
        <small *ngIf="formIn.get('email').errors.required">
          Поле не может быть пустым
        </small>
      </div>
    </label>
    <label>
      <span>Password</span>
      <input 
        type="password" 
        name="password"
        formControlName="password"
      >
      <div class="validator" *ngIf="formIn.get('password').invalid && formIn.get('password').touched">
     
        <small *ngIf="formIn.get('password').errors.required">
          Поле не может быть пустым
        </small>

        <small *ngIf="formIn.get('password').errors.minlength">
          Необходимо ввести {{formIn.get('password').errors.minlength.requiredLength}} символов.
          Сейчас длина составляет {{formIn.get('password').errors.minlength.actualLength}} символов
        </small>

      </div>
    </label>

    <button class="submit" type="submit" [disabled]="formIn.invalid">Sign In</button>
    <p class="forgot-pass">Forgot Password ?</p>

    <div class="social-media">
      <ul>
        <li><img [src]="facebook"></li>
        <li><img [src]="twitter"></li>
        <li><img [src]="instagram"></li>
        <li><img [src]="whatsapp"></li>
      </ul>
    </div>
  </form>

  <div class="sub-cont">
    <div class="img">
      <div class="img-text m-in">
        <h2>New here?</h2>
        <p>Sign up and discover great amount of new opportunities!</p>
      </div>
      <div class="img-text m-up">
        <h2>One of us?</h2>
        <p>If you already has an account, just sign in. We've missed you!</p>
      </div>
      <div class="img-btn" (click)="toggler()">
        <span class="m-up">Sign In</span>
        <span class="m-in">Sign Up</span>
      </div>
    </div>

    <form class="form sign-up" [formGroup]="formUp" (ngSubmit)="submitUp()">
      <h2>Sign Up</h2>
      <label>
        <span>Name</span>
        <input type="text"
          formControlName="name"
        >
        <div class="validator" *ngIf="formUp.get('name').invalid && formUp.get('name').touched">
          <small *ngIf="formUp.get('name').errors.required">
            Поле обязательно для заполнения
          </small>
        </div>
      </label>
      <label>
        <span>Email</span>
        <input type="email"
          formControlName="email"
        >
        <div class="validator" *ngIf="formUp.get('email').invalid && formUp.get('email').touched">
          <small *ngIf="formUp.get('email').errors.email">
            Введите корректный email
          </small>
          <small *ngIf="formUp.get('email').errors.required">
            Поле обязательно для заполнения
          </small>
        </div>
      </label>
      <label>
        <span>Password</span>
        <input type="password"
          formControlName="password"
        >
        <div class="validator" *ngIf="formUp.get('password').invalid && formUp.get('password').touched">
          <small *ngIf="formUp.get('password').errors.required">
            Поле обязательно для заполнения
          </small>
          <small *ngIf="formUp.get('password').errors.minlength">
            Необходимо ввести {{ formUp.get('password').errors.minlength.requiredLength }} символов.
            Сейчас длина составляет {{ formUp.get('password').errors.minlength.actualLength }} символов.
          </small>
        </div>
      </label>
      <label>
        <span>Confirm Password</span>
        <input type="password"
          formControlName="confirmPassword"
        >
        <div class="validator" *ngIf="formUp.get('confirmPassword').invalid && formUp.get('confirmPassword').touched">

          
          <small *ngIf="formUp.get('confirmPassword').errors.mustMatch">
            Пароли не совпадают
          </small>
          
        </div>
      </label>
      <button type="submit" class="submit" [disabled]="formUp.invalid">Sign Up Now</button>
    </form>

  </div>
</div>