<h1>About page</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, magnam!</p>

<p><a [routerLink]="['/about', 'extra']">Show Extra</a></p>

<br>
<hr>
<br>

<router-outlet></router-outlet>
