<div class="container">
  <h1>Container Grid for Http Client</h1>
  <button (click)="toggleFlag = !toggleFlag">toggle</button>

  <hr>

  <div *ngIf="!error; else errorBlock">

    <div *ngIf="!loading; else loadingBlock">
      <main>
          <div 
            class="card" 
            *ngFor="let picture of pictures"
            appHover="black"
          >
            <h3 class="title" 
              [ngClass]="{
                teal: toggleFlag,
                burly: !toggleFlag
            }"
            
            >{{ picture.title }}</h3>
            <img class="picture" [src]="picture.url" alt="">
          </div>
      </main>
    </div>
    <ng-template #loadingBlock>
      <p class="loader">Loading...</p>
    </ng-template>

  </div>
  <ng-template #errorBlock>
    <p>{{ error }}</p>
  </ng-template>
</div>


