h1 {
  text-align: center;
  margin: 3rem;
}

button {
  width: 150px;
  height: 60px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 5px;
  outline: none;
  background: url('https://s.yimg.com/uu/api/res/1.2/DdytqdFTgtQuxVrHLDdmjQ--~B/aD03MTY7dz0xMDgwO3NtPTE7YXBwaWQ9eXRhY2h5b24-/https://media-mbst-pub-ue1.s3.amazonaws.com/creatr-uploaded-images/2019-11/7b5b5330-112b-11ea-a77f-7c019be7ecae');
  background-position: center;
  background-size: cover;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.loader {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 1rem;
}

.container {
  margin: 5rem 5rem;
  border: 5px solid #F0F8FF;
}

main {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;

  .picture {
    width: 100%;
    height: 220px;
  }
}

.card {
  cursor: pointer;
}


.title {
  font-size: 14px;
  display: block;
  width: 100%;
  height: 40px;
  overflow: hidden;
  font-weight: 400;
}
.teal {
  color: teal;
}
.burly {
  color: #DEB887;
}

