.wrapper {
  padding: 3rem;
  width: 500px;
  margin: 2rem auto;
  background-color: antiquewhite;
}

hr {
  margin: 2rem;
}

.box {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aquamarine;
  color: #fff;
}