<div class="wrapper">
  <button (click)="animate()">change</button>
  <hr>
  <button (click)="boxState='special'">set special</button>
  <button (click)="visible = !visible">Visibility</button>
  <hr>
  
  <div 
    class="box" 
    [@box]='boxState'
    (@box.start)="animationStarted($event)"
    *ngIf="visible"   
  ><h3>{{ boxState | uppercase }}</h3></div>
</div>