@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

body{
  background: -webkit-linear-gradient(left, #FF8C00, #00CED1);
}

input, textarea, button{
  border: 1px solid #d5dbd9;
  outline: none;
}