@media (min-width: 320px) and (max-width: 767px) {
  .dropdown {
    display: block;
  }

  .menu-links {
    position: fixed;
    top: 4.35em;
    left: 0;
    right: 0;
    height: 100%;
    padding: 2em;
  }

  .menu-item {
    padding: 3em 1em;
  }

  .menu-item a {
    font-size: 1.8rem;
  }
  
}

@media (min-width: 768px) and (max-width: 1023px) {
  .dropdown {
    display: none;
  }
  
  .menu-links {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
  }

  .menu-item {
    padding: 1em;
  }

  .menu-item a {
    font-size: .6rem;
  }
}