<div class="container">

  <nav class="navbar">
    <a href="#">
      <h1 class="logo"><span>sh</span>abazov</h1>
    </a>

    <div class="dropdown">
      <div class="menu_btn" appDropDown (click)="showMenu()">
        <div class="menu_btn-burger"></div>
      </div>
    </div>
    <ul class="menu-links" [hidden]="isOpen" [@dropped]="dropMenu">
      <li class="menu-item"><a href="#">About me</a></li>
      <li class="menu-item"><a href="#">Gallery</a></li>
      <li class="menu-item"><a href="#">Contacts</a></li>
    </ul>
    
  </nav>

</div>
