/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html, body {
  height: 100%;
  color: #1c1cba;
}

html {
  background: linear-gradient(to right top, #FFF8DC, #6495ED);
}

button {
  outline: none;
  border: none;
  background-color: rgba(119, 194, 194, .9);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}