$lightColor: #FFF8DC;
$lightBlue: #00BFFF;
$salmon: #E9967A;

.post {
  width: 650px;
  margin: 10px auto;
  padding: 5px 0px;
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, .3);
  border-radius: 25px;
  transition: background-color .5s ease-in;
}

.post .title {
  font-size: 2rem;
  text-align: left;
  padding: 5px 0px 0px 18px;
}

.post .text {
  font-size: 1.3rem;
  margin: 0px 10px 10px;
  padding: 5px 10px;
}

.control_buttons {
  align-self: flex-end;
  padding: 0px 20px 5px;
}

.control_buttons .bttn {
  width: 100px;
  margin-left: 10px;
  padding: 5px 20px;
  color: darkblue;
  background-color: #fff;
  border-radius: 15px;
  font-weight: 700;
  transition: background-color .5s ease, width .5s ease-out;
  cursor: pointer;
}

.control_buttons .bttn:hover {
  width: 110px;
}

.control_buttons .bttn.delete:hover {
  background-color: #FF4500;
}

.control_buttons .bttn.done:hover {
  background-color: #90EE90;
}

.marked {
  background-color: #32CD32; 
}