<div class="post" *ngFor="let task of taskService.tasks">
  <h3 class="title">{{ task.title }}</h3>
  <p class="text">{{ task.task }}</p>

  <div class="control_buttons">
    <button class="bttn done" appMarker>done!</button>
    <button class="bttn delete" (click)="deleteTask(task.id)">delete</button>
  </div>
</div>
