/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;800&display=swap');
// font-family: 'Baloo Tamma 2', cursive;
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;600&display=swap');
// font-family: 'Lemonada', cursive;
@import url("https://use.typekit.net/qgz7fli.css");
// font-family: vortice-concept, sans-serif;

$dark: rgba(13, 3, 43, 0.8);
$lavender: #FFF0F5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo Tamma 2', cursive;
  text-decoration: none;
  list-style: none;
}


html, body {
  height: 100%;
}

.container {
  height: 100%;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: $lavender;
  padding: .7em;
}

.navbar .logo, span {
  font-family: vortice-concept, sans-serif;
  color: $dark;
  line-height: 2;
  cursor: pointer;
}

// BURGER **********************************************************************************************************************************

.menu_btn {
  margin-top: .2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  transition: all .5s ease-in-out;
  border-radius: 2px;
  overflow: hidden;
}

.menu_btn-burger {
  width: 1.7em;
  height: 4px;
  background: $dark;
  border-radius: 3px;
  transition: all .5s ease-in-out;
}

.menu_btn-burger::before,
.menu_btn-burger::after {
  content: '';
  position: absolute;
  width: 1.7em;
  height: 4px;
  background: $dark;
  border-radius: 3px;
  transition: all .5s ease-in-out;
}

.menu_btn-burger::before {
  transform: translateY(-.5em);
}
.menu_btn-burger::after {
  transform: translateY(.5em);
}

// animation

.menu_btn.open .menu_btn-burger {
  transform: translateX(-2em);
  background: transparent;
  box-shadow: none;
}

.menu_btn.open .menu_btn-burger::before {
  transform: rotate(45deg) translate(1.4em, -1.4em);
}
.menu_btn.open .menu_btn-burger::after {
  transform: rotate(-45deg) translate(1.4em, 1.4em);
}




.menu-links {
  width: 100%;
  background-color: $lavender;
}

.menu-item {
  width: 100%;
  text-align: center;
}

.menu-item a {
  font-family: vortice-concept, sans-serif;
  color: $dark;
}


// BOX **********************************************************************************************************************************

// #top, #bottom, #left, #right {
//   background: #FFFAF0;
//   position: fixed;
// }
// #left, #right {
//   top: 0; 
//   bottom: 0;
//   width: 3em;
// }
// #left {
//   left: 0;
// }
// #right { 
//   right: 0; 
// }
// #top, #bottom {
//   left: 0; 
//   right: 0;
//   height: 3em;
// }
// #top { 
//   top: 0;
// }
// #bottom { 
//   bottom: 0; 
// }
// .top_board h2 {
//   text-align: center; 
// }