<div class="wrapper">
   <div class="title">
     Registration Form
   </div>

   <form class="form" [formGroup]='form' (ngSubmit)="submit()">
     <div class="input_field">
       <label>First Name</label>
       <input type="text" class="input" formControlName="firstName" autocomplete="on">

       <div class="validator" *ngIf="form.get('firstName').errors && form.get('firstName').touched">
        <p class="validation_message" *ngIf="form.get('firstName').errors.required">
           Required field
        </p>
      </div>
     </div>
     
    <div class="input_field">
      <label>Last Name</label>
      <input type="text" class="input" formControlName="lastName" autocomplete="on">

      <div class="validator" *ngIf="form.get('lastName').errors && form.get('lastName').touched">
        <p class="validation_message" *ngIf="form.get('lastName').errors.required">
          Required field
        </p>
      </div>
    </div>

    <div class="input_field">
      <label>Email Address</label>
      <input type="email" class="input" formControlName="email" autocomplete="on">
      <div class="validator" *ngIf="form.get('email').errors && form.get('email').touched">
        <p class="validation_message" *ngIf="form.get('email').errors.required">
          Required field
        </p>
        <p class="validation_message" *ngIf="form.get('email').errors.email">
          Enter valid email
        </p>
      </div>
    </div>

    <div class="input_field">
      <label>Password</label>
      <input type="password" class="input" formControlName="password" autocomplete="off">
      <div class="validator" *ngIf="form.get('password').errors && form.get('password').touched">
        <p class="validation_message" *ngIf="form.get('password').errors.required">Required field</p>
        <p class="validation_message" *ngIf="form.get('password').errors.minlength">
          Must be more then {{ form.get('password').errors.minlength.requiredLength }} characters
        </p>
      </div>
    </div>

    <div class="input_field">
      <label>Confirm Password</label>
      <input type="password" class="input" formControlName="confirmPassword" autocomplete="off">
      <div class="validator" *ngIf="form.get('confirmPassword').errors && form.get('confirmPassword').touched">
        <p class="validation_message" *ngIf="form.get('confirmPassword').errors.required">Required field</p>
        <p class="validation_message" *ngIf="form.get('confirmPassword').errors.minlength">
          Must be more then {{ form.get('confirmPassword').errors.minlength.requiredLength }} characters
        </p>
        <p class="validation_message" *ngIf="form.get('confirmPassword').errors.confirmValidator">
          Password has to match
        </p>
      </div>
    </div>

    <div class="input_field">
      <label>Gender</label>
      <div class="custom_select">
        <select formControlName="gender" autocomplete="on">
          <option value="">Select</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
    </div>

    <div class="input_field">
      <label>Phone number</label>
      <input type="text" class="input" formControlName="phoneNumber" autocomplete="on">
      <div class="validator" *ngIf="form.get('phoneNumber').errors && form.get('phoneNumber').touched">
        <p class="validation_message" *ngIf="form.get('phoneNumber').errors.required">Required field</p>
        <p class="validation_message" *ngIf="form.get('phoneNumber').errors.minlength">
          Must contain {{ form.get('phoneNumber').errors.minlength.requiredLength }} digits
        </p>
        <p class="validation_message" *ngIf="form.get('phoneNumber').errors.pattern">
          Must contain only digits
        </p>
      </div>
    </div>

    <div class="input_field">
      <label>Address</label>
      <textarea class="textarea" formControlName="address" autocomplete="on"></textarea>
    </div>

    <div class="input_field">
      <label>ZIP Code</label>
      <input type="text" class="input" formControlName="zipCode" autocomplete="on">
    </div>

    <div class="input_field terms">
      <label class="check">
        <input type="checkbox" formControlName="conditions" required>
        <span class="checkmark"></span>
      </label>
      <p>Agreed to terms and conditions</p>
    </div>

    <div class="input_field">
      <input type="submit" value="Register" class="btn" [disabled]="form.invalid">
    </div>

   </form>
</div>