$yellow: #FF8C00;

.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 1px 8px 5px rgba(0, 0, 0, 0.225);
}

.wrapper .title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 25px;
  color: $yellow;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, .325);
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .input_field {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .input_field label {
  width: 200px;
  color: #757575;
  margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .input_field .input,
.wrapper .form .input_field .textarea {
  width: 100%;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all .3s ease;
}

.wrapper .form .input_field .textarea {
  resize: none;
  height: 125px;
}

.wrapper .form .input_field .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .input_field .custom_select select {
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
  outline: none;
  padding: 8px 10px;
  width: 100%;
  height: 100%;
}

.wrapper .form .input_field .custom_select:before {
  content: '';
  position: absolute;
  top: 13px;
  right: 10px;
  border: 8px solid;
  border-color: #FF4500 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .input_field .input:focus,
.wrapper .form .input_field .textarea:focus,
.wrapper .form .input_field select:focus {
  border-color: $yellow;
}

.wrapper .form .input_field p {
  font-size: 14px;
  color: $yellow;
}

.wrapper .form .input_field .check {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: alias;
}

.wrapper .form .input_field .check input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.wrapper .form .input_field .check .checkmark {
  width: 15px;
  height: 15px;
  border: 1px solid $yellow;
  display: block;
  position: relative;
  
}

.wrapper .form .input_field .check .checkmark:before {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 6px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}

.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmark {
  background: $yellow;
}

.wrapper .form .input_field .check input[type="checkbox"]:checked ~ .checkmark:before {
  display: block;
}

.wrapper .form .input_field .btn {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: 800;
  color: #ffffff;
  border: 0;
  border-radius: 3px;
  background: $yellow;
  cursor: pointer;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .425);
}

.wrapper .form .input_field input:disabled.btn {
  cursor: no-drop;
}

.wrapper .form .input_field:last-child {
  margin-bottom: 10px;
}

.wrapper .form .input_field .btn:hover {
  background: -webkit-linear-gradient(left, #FF8C00, #00CED1);
}

// input {
//   &.ng-invalid.ng-touched {
//     border: 1px solid red;
//   }
//   &.ng-valid.ng-touched {
//     border: 1px solid green;
//   }
// }

.validator {
  position: absolute;
  top: 10px;
  right: 10px;
}

.wrapper .form .input_field .validator .validation_message {
  color: #FF4500;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

@media (max-width: 420px) {
  .wrapper .form .input_field {
    flex-direction: column;
    align-items: flex-start;
  } 
  .wrapper .form .input_field label {
    margin-bottom: 5px;
  }
  .wrapper .form .input_field.terms {
    flex-direction: row;
  }
  .validator {
    position: absolute;
    top: 32px;
    right: 10px;
  }
}
