@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: papayawhip;
  color: #333
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  color: #888
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: .4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: .5rem;
  transition: opacity .2s ease-in;
  outline: none;
}

.btn:hover {
  opacity: .8;
}

.form-control {
  display: block;
  margin-top: .3rem;
}

.card {
  padding: 1rem;
  border: 2px dotted #ccc;
  margin: .7rem 0;
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: .4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin: 1.2rem 0;
}

hr {
  margin: .5rem 0;
}