.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  height: 250px;
  padding: 20px 30px;
  background-color: #efefef;
  border-radius: 5px;
};

label {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 30px;
}

.newList {
  outline: none;
  border: none;
  border-radius: 3px;
  line-height: 2.5;
  width: 100%;
  text-indent: 20px;
  font-size: 20px;
}

.buttons {
  margin-top: 20px;
  align-self: flex-end;
}

.button {
  margin-right: 5px;
  padding: 5px 10px;
  height: 35px;
  border-radius: 5px;
  transition: box-shadow .2s ease, transform .2s ease;
  &:hover {
    box-shadow: 0 0 5px rgb(119, 194, 194);
    transform: scale(1.01);
  }
}