<div class="container">
  <div class="form">
    <label>New list</label>
    <input type="text" class="newList" placeholder="Name a list" #listInputTitle>
    <div class="buttons">
      <button class="button" routerLink="/">cancel</button>
      <button class="button" (click)="addList(listInputTitle.value)">create</button>
    </div>
  </div>
</div>