
<form
  class="form"
  [formGroup]="form" 
  (ngSubmit)="submit()"
>

  <div class="input_field">
    <label for="title">Type a title</label>
    <input type="text" name="title" formControlName="title">
  </div>

  <div class="input_field">
    <label for="task">Type your task</label>
    <input type="text" name="task" formControlName="task">
  </div>

  <div class="control_buttons">
    <button type="submit" class="bttn submit">Add a task</button>
  </div>

</form>
