$lightColor: #FFF8DC;
$lightBlue: #00BFFF;
$salmon: #E9967A;

.form {
  width: 650px;
  margin: 5px auto 20px;
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .1);
  box-shadow: 1px 3px 6px rgba(0, 0, 0, .3);
  border-radius: 35px;
  transition: background-color .5s ease-in;
}

.form:hover {
  background-color: rgba(0, 0, 0, .2);
}

.form .input_field {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 10px 20px 20px;
}

.form .input_field:first-child {
  padding-top: 5px;
  padding-bottom: 0;
}

.input_field label {
  font-size: 1.2rem;
  font-weight: 700;
}

.input_field input {
  width: 100%;
  padding: 10px;
  color: #333;
  font-size: 1rem;
  border-radius: 17px;
}

.form .control_buttons {
  width: 100%;
  padding: 0px 20px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}

.form .control_buttons .bttn {
  width: 120px;
  margin-left: 10px;
  padding: 5px 20px;
  color: darkblue;
  background-color: #fff;
  border-radius: 15px;
  font-weight: 700;
  transition: background-color .3s ease;
  transition: width .5s ease-out;
  cursor: pointer;
}

.form .control_buttons .bttn:hover {
  background-color: rgba(137, 196, 244, .9);
  width: 130px;
  // animation: btn_expand .8s;
  // animation-timing-function: ease-out;
}

// @keyframes btn_expand {
//   from {width: 100px;}
//   to {width: 130px;}
// }