<div>
  <input class="form-control" type="text"
    placeholder="enter title"
    [(ngModel)]="title"
    #inputTitle
  >

  <input class="form-control" type="text"
    placeholder="enter text"
    [(ngModel)]="text"
    #inputText
  >

  <input class="form-control" type="text"
    placeholder="search post"
    [(ngModel)]="search"
  >

  <button class="btn" (click)="createPost()">Create post</button>
  
  <button class="btn" (click)="focusTitle()">Focus on title</button>
  <button class="btn" (click)="focusText()">Focus on text</button>

  <button class="btn" (click)="makeSearch()">Search post</button>
</div>
