@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

$lightColor: #FFF8DC;
$lightBlue: #00BFFF;
$salmon: #E9967A;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  color: $lightColor;
}

input, button {
  outline: none;
  border: none;
}

body {
  background: -webkit-linear-gradient(right, $salmon, $lightBlue);
  position: relative;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  background: -webkit-linear-gradient(left, $lightColor, $lightBlue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.container {
  max-width: 700px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 7px 10px black;
}


