<div class="container">

  <app-post-form
    (onAdd)="updatePosts($event)"
    (onSearch)="searchSet($event)"
  ></app-post-form>

  <hr>

  <app-post *ngFor="let post of posts | filter:search"
    [post]="post"
    (onDelete)="deletePost($event)"
  >

  <small *ngIf="post.text.length < 10; else longText">короткий текст</small>
  <ng-template #longText>
    <small>длинный текст</small>
  </ng-template>
  
  </app-post>

</div>